<div class="container">
  <span>PCG School</span>
</div>
<div class="row">
  <div class="col-4">
    <div class="card shadow p-3 mb-5 bg-body rounded" style="width: 18rem">
      <div class="card-body">
        <a class="nav-link" href="/cursos"
          ><h5 class="card-title">Cursos</h5></a
        >
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card shadow p-3 mb-5 bg-body rounded" style="width: 18rem">
      <div class="card-body">
        <a class="nav-link" href="/alunos"
          ><h5 class="card-title">Alunos</h5></a
        >
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card shadow p-3 mb-5 bg-body rounded" style="width: 18rem">
      <div class="card-body">
        <a class="nav-link" href="/matriculas"
          ><h5 class="card-title">Matrículas</h5></a
        >
      </div>
    </div>
  </div>
</div>
